problems/2025/05_cpu/samples/sw.txt
problems/2025/05_cpu/samples/sqrt.txt
problems/2025/05_cpu/samples/num.txt
problems/2025/05_cpu/samples/fib_riscv.txt
problems/2025/05_cpu/samples/fib_fpga.txt
problems/2025/05_cpu/samples/fib.txt
problems/2025/05_cpu/samples/addi.txt
problems/2025/05_cpu/wave.do
